<p style="text-align:center">
    <a href="https://skills.network/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2022-01-01" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo"  />
    </a>
</p>

# **Data Wrangling Lab**

Estimated time needed: **45 to 60** minutes

In this assignment you will be performing data wrangling.

## Objectives

In this lab you will perform the following:

*   Identify duplicate values in the dataset.

*   Remove duplicate values from the dataset.

*   Identify missing values in the dataset.

*   Impute the missing values in the dataset.

*   Normalize data in the dataset.

<hr>

## Hands on Lab

Import pandas module.

In [2]:
import pandas as pd

Load the dataset into a dataframe.

In [3]:
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DA0321EN-SkillsNetwork/LargeData/m1_survey_data.csv")

## Finding duplicates

In this section you will identify duplicate values in the dataset.

Find how many duplicate rows exist in the dataframe.

In [5]:
# your code goes here
duplicateRows = df[df.duplicated(keep = 'first')]
print(len(duplicateRows['Respondent']))

154

## Removing duplicates

Remove the duplicate rows from the dataframe.

In [10]:
# your code goes here
df2 = df.drop_duplicates(keep = 'first')
print(len(df2))

11398

Verify if duplicates were actually dropped.

In [8]:
# your code goes here
dup_df2 = df2[df2.duplicated()]
print(dup_df2.head())
print(len(dup_df2))
#Its empty, therefore it was successful.

Empty DataFrame
Columns: [Respondent, MainBranch, Hobbyist, OpenSourcer, OpenSource, Employment, Country, Student, EdLevel, UndergradMajor, EduOther, OrgSize, DevType, YearsCode, Age1stCode, YearsCodePro, CareerSat, JobSat, MgrIdiot, MgrMoney, MgrWant, JobSeek, LastHireDate, LastInt, FizzBuzz, JobFactors, ResumeUpdate, CurrencySymbol, CurrencyDesc, CompTotal, CompFreq, ConvertedComp, WorkWeekHrs, WorkPlan, WorkChallenge, WorkRemote, WorkLoc, ImpSyn, CodeRev, CodeRevHrs, UnitTests, PurchaseHow, PurchaseWhat, LanguageWorkedWith, LanguageDesireNextYear, DatabaseWorkedWith, DatabaseDesireNextYear, PlatformWorkedWith, PlatformDesireNextYear, WebFrameWorkedWith, WebFrameDesireNextYear, MiscTechWorkedWith, MiscTechDesireNextYear, DevEnviron, OpSys, Containers, BlockchainOrg, BlockchainIs, BetterLife, ITperson, OffOn, SocialMedia, Extraversion, ScreenName, SOVisit1st, SOVisitFreq, SOVisitTo, SOFindAnswer, SOTimeSaved, SOHowMuchTime, SOAccount, SOPartFreq, SOJobs, EntTeams, SOComm, WelcomeChange, SONewContent, Age, Gender, Trans, Sexuality, Ethnicity, Dependents, SurveyLength, SurveyEase]
Index: []

[0 rows x 85 columns]
0

## Finding Missing values

Find the missing values for all columns.

In [ ]:
# your code goes here
num_vars = df2.columns[df2.dtypes != 'object'] #separate numercial columns from categorical ones
cat_vars = df2.columns[df2.dtypes == 'object']

df2[num_vars].isnull().sum().sort_values(ascending = False)
df2[cat_vars].isnull().sum().sort_values(ascending = False)

BlockchainIs          2610
BlockchainOrg         2322
MiscTechWorkedWith    2182
SONewContent          1965
SOHowMuchTime         1917
                      ...
JobSeek                  0
SOComm                   0
CurrencySymbol           0
CurrencyDesc             0
MainBranch               0
Length: 79, dtype: int64

Find out how many rows are missing in the column 'WorkLoc'

In [12]:
# your code goes here
df2['WorkLoc'].isnull().sum()
df2['Country'].isnull().sum()

0

## Imputing missing values

Find the  value counts for the column WorkLoc.

In [15]:
# your code goes here
df2['WorkLoc'].value_counts()
df2['CompFreq'].value_counts()

Yearly     6073
Monthly    4788
Weekly      331
Name: CompFreq, dtype: int64

Identify the value that is most frequent (majority) in the WorkLoc column.

In [ ]:
#make a note of the majority value here, for future reference
# Its Office obv.
df2['WorkLoc'].mode()

0    Office
dtype: object

Impute (replace) all the empty rows in the column WorkLoc with the value that you have identified as majority.

In [16]:
# your code goes here
df3 = df2.fillna(df2['WorkLoc'].mode()[0])

After imputation there should ideally not be any empty rows in the WorkLoc column.

Verify if imputing was successful.

In [ ]:
# your code goes here
df3['WorkLoc'].isnull().sum()

0

## Normalizing data

There are two columns in the dataset that talk about compensation.

One is "CompFreq". This column shows how often a developer is paid (Yearly, Monthly, Weekly).

The other is "CompTotal". This column talks about how much the developer is paid per Year, Month, or Week depending upon his/her "CompFreq".

This makes it difficult to compare the total compensation of the developers.

In this section you will create a new column called 'NormalizedAnnualCompensation' which contains the 'Annual Compensation' irrespective of the 'CompFreq'.

Once this column is ready, it makes comparison of salaries easy.

<hr>

List out the various categories in the column 'CompFreq'

In [37]:
# your code goes here
df3['CompFreq'].value_counts()

df3[{'CompTotal','CompFreq'}].head()
#print(num_vars)

df3['CompTotal'].head(50)

0       61000.0
1      138000.0
2       90000.0
3       29000.0
4       90000.0
5        9500.0
6        3000.0
7      103000.0
8       69000.0
9        8000.0
10       7000.0
11     114000.0
12       2000.0
13      22000.0
14      96000.0
15     156000.0
16      18000.0
17       6400.0
18       5000.0
19     400000.0
20      47300.0
21      51500.0
22     345000.0
23      85000.0
24     107000.0
25      66000.0
26      76800.0
27      50000.0
28     800000.0
29      75000.0
30      18000.0
31     100000.0
32    1250000.0
33      30000.0
34     550000.0
35       Office
36     700000.0
37      40000.0
38       9000.0
39      11000.0
40     100000.0
41      50000.0
42      33000.0
43     110000.0
44      66750.0
45     300000.0
46      67800.0
47     155000.0
48      25000.0
49     100000.0
Name: CompTotal, dtype: object

Create a new column named 'NormalizedAnnualCompensation'. Use the hint given below if needed.

Double click to see the **Hint**.

<!--

Use the below logic to arrive at the values for the column NormalizedAnnualCompensation.

If the CompFreq is Yearly then use the exising value in CompTotal
If the CompFreq is Monthly then multiply the value in CompTotal with 12 (months in an year)
If the CompFreq is Weekly then multiply the value in CompTotal with 52 (weeks in an year)

-->

In [44]:
# your code goes here
import numpy as np 
df3['NormalizedAnnualCompensation'] = np.where(
    df3['CompFreq'] == 'Weekly', df3['CompTotal']*52, np.where(
    df3['CompFreq'] == 'Monthly', df3['CompTotal']*12, df3['CompTotal']))
df3['NormalizedAnnualCompensation'] = np.where(df3['CompTotal'].dtypes == 'object' , 100000, df3['NormalizedAnnualCompensation'])
df3['NormalizedAnnualCompensation'].median()

100000.0

## Authors

Ramesh Sannareddy

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2020-10-17        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDA0321ENSkillsNetwork21426264-2022-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).